.product {
    border: 1px solid #F4F4F4;
}

.product td {
    min-width: 250px;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.product .green-button {
    width: 166px;
    padding: 10px;
}

@media screen and (max-width: 600px)  {
    .product td {
        min-width: 150px;
    }
}