@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  background-color: #F4F4F4;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 900;
}

.green-button {
  background-color: #198754;
  box-shadow: 2px 2px 4px #3c3c3c13;
  border-radius: 4px;
  color: white;
  padding: 10px;
  width: 200px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.green-button:hover {
  background-color: #4ea07a;
}

.sort-on {
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #000000;
  margin-left: 10px;
  animation: .4s growSorter;
}

.sort-off {
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #000000;
  position: relative;
  margin-left: 10px;
}

.sort-off::before {
  cursor: pointer;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #F4F4F4;
  position: absolute;
  bottom: 1.9px;
  right: -10px;
  animation: .4s growSorter;
}

@keyframes growSorter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}